<div class="view-main">
    <header>
        <p class="title">Transaction Data</p>
    </header>
                <div style="background: #ECECEC;padding:30px;">
                    <div nz-row >
                      <div nz-col class="nz-col">
                        <nz-card nzTitle="Restaurant 1">
                            <div class="title-content">
                                <p>Songs Played</p>
                                <p>Profid</p>
                            </div>
                        
                        </nz-card>
                      </div>
                      <div nz-col  class="nz-col">
                        <nz-card nzTitle="Restaurant 2">
                            <div class="title-content">
                                <p>Songs Played</p>
                            <p>Profid</p>
                            </div>
                            
                        </nz-card>
                      </div>
                      <div nz-col  class="nz-col">
                        <nz-card nzTitle="Restaurant 3">
                            <div class="title-content">
                                <p>Songs Played</p>
                                <p>Profid</p>
                            </div>
                           
                        </nz-card>
                      </div>
                    </div>
                  </div>
</div>