<div class="view-main">
    <header>
        <p class="title">Offers</p>
    </header>
                <div style="background: #ECECEC;padding:30px;">
                    <div nz-row >
                      <div nz-col class="nz-col">
                        <nz-card nzTitle="Restaurant 1">
                            <p>User bla bla bla bla....</p>
                            <div class="btn-content">
                                <button nz-button nzType="primary">Accept</button> 
                                <button nz-button nzType="default" nzDanger style="margin-left: 10px;">Decline</button>
                            </div>
                        
                        </nz-card>
                      </div>
                      <div nz-col  class="nz-col">
                        <nz-card nzTitle="Restaurant 2">
                            <p>User bla bla bla bla....</p>
                            <div class="btn-content">
                                <button nz-button nzType="primary">Accept</button> 
                                <button nz-button nzType="default" nzDanger style="margin-left: 10px;">Decline</button>
                            </div>
                            
                        </nz-card>
                      </div>
                      <div nz-col  class="nz-col">
                        <nz-card nzTitle="Restaurant 3">
                            <p>User bla bla bla bla....</p>
                            <div class="btn-content">
                                <button nz-button nzType="primary">Accept</button> 
                                <button nz-button nzType="default" nzDanger style="margin-left: 10px;">Decline</button>
                            </div>
                           
                        </nz-card>
                      </div>
                    </div>
                  </div>
</div>