.nz-col {
    margin: 10px 0;
}

.btn-content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

::ng-deep .ant-row {
    display: block;
}

b {
    font-weight: 600;
    color: #00c0fa;
    font-size: 15px;
    margin: 10px 10px 10px 0;
}