<div>
    <header>
        <p class="title">Play List</p>
        <button nz-button nzType="primary" [style]="{margin:'10px'}"><i nz-icon nzType="plus"></i>Add Songs</button>
    </header>
    <div>
        <nz-table>
            <thead>
                <tr>
                    <th>Play</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Second</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="image" src="assets/image/image.jpg"></td>
                    <td>Name</td>
                    <td>https://www.youtube.com/watch?v=U9BOE0hHE_8</td>
                    <td>endSecond</td>
                    <td><i nz-icon nzType="delete" nzTheme="outline" (click)="onClickConfirmDelete()"></i></td>
                </tr>
                <tr>
                    <td><img class="image" src="assets/image/image.jpg"></td>
                    <td>Name</td>
                    <td>https://www.youtube.com/watch?v=U9BOE0hHE_8</td>
                    <td>endSecond</td>
                    <td><i nz-icon nzType="delete" nzTheme="outline" (click)="onClickConfirmDelete()"></i></td>
                </tr>
                <tr>
                    <td><img class="image" src="assets/image/image.jpg"></td>
                    <td>Name</td>
                    <td>https://www.youtube.com/watch?v=U9BOE0hHE_8</td>
                    <td>endSecond</td>
                    <td><i nz-icon nzType="delete" nzTheme="outline" (click)="onClickConfirmDelete()"></i></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>