.image {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

nz-table {
    overflow: auto;
    display: flex;
    flex-direction: column;
    tr {
        background: white;
    }
}

::ng-deep .nz-disable-td {
    display: none !important;
}