<div>
    <app-mat-spinner *ngIf="loading"></app-mat-spinner>
    <header>
        <p class="title">Play List</p>
        <button *ngIf="role==='Restaurant'" nz-button nzType="primary" [style]="{margin:'10px'}" (click)="onClickAddSongModal()"><i nz-icon nzType="plus"></i>Add Songs</button>
    </header>
    <div>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [style]="{width:'250px',margin:'10px'}">
            <input [formControl]="searchControl" type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
        <nz-table *ngIf="songsDetails.length>0">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Play</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Second</th>
                    <th>Price</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of songsDetails;let ind=index">
                    <td>{{ind+1}}</td>
                    <td><img class="image" src="assets/image/image.jpg" (click)="onClickOpenViewVideoModal(item)"></td>
                    <td>{{item?.name}}</td>
                    <td>{{item?.url}}</td>
                    <td>{{item?.endSecond}}</td>
                    <td>{{item?.price}}</td>
                    <td><i nz-icon nzType="delete" nzTheme="outline" (click)="onClickDeleteItem(item)"></i></td>
                </tr>
            </tbody>
        </nz-table>
        <div class="details-message" *ngIf="songsDetails.length<=0">
            <p>No Details</p>
        </div>
    </div>
</div>