<div class="view-main song-queue">
    <header>
        <p class="title">Song Queue</p>
    </header>

    <div style="background: #ECECEC;padding:30px;">
        <div id="player"></div>
        <nz-table *ngIf="playList.length>0">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Play Time</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let playListItem of playList;let ind = index;trackBy: identify" [class.passedSong]="playListItem?.status == 1" [class.activeSong]="currentSong?.orderId === playListItem?.orderId">
                    <td>{{ind+1}}</td>
                    <td>{{playListItem?.name}}</td>
                    <td>{{playListItem?.playTime}}</td>
                    <td>{{playListItem?.price}}</td>
                </tr>
            </tbody>
        </nz-table>
        <div class="details-message" *ngIf="playList.length<=0">
            <p>No Details</p>
        </div>
    </div>
</div>