<div class="view-main song-queue">
    <header>
        <p class="title">Song Queue</p>
    </header>
    <div style="background: #ECECEC;padding:30px;">
        <div nz-row>
            <div nz-col class="nz-col">
                <nz-card>
                    <img class="image" src="assets/image/image.jpg">
                    <div>
                        <p>Ladaniva</p>
                        <p>Ladaniva en live chez Radio Nova | Chambre noire</p>
                    </div>
                    <div class="icon-content">
                        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                    </div>

                </nz-card>
                <nz-card>
                    <img class="image" src="assets/image/image.jpg">
                    <div>
                        <p>Ladaniva</p>
                        <p>Ladaniva en live chez Radio Nova | Chambre noire</p>
                    </div>
                    <div class="icon-content">
                        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                    </div>
                </nz-card>
                <nz-card>
                    <img class="image" src="assets/image/image.jpg">
                    <div>
                        <p>Ladaniva</p>
                        <p>Ladaniva en live chez Radio Nova | Chambre noire</p>
                    </div>
                    <div class="icon-content">
                        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                        <i nz-icon nzType="more" nzTheme="outline"></i>
                    </div>

                </nz-card>
            </div>
        </div>
    </div>
</div>