nz-table {
    overflow: auto;
    display: flex;
    flex-direction: column;
    // tr {
    //     background: white;
    // }
}

::ng-deep .nz-disable-td {
    display: none !important;
}

iframe {
    width: 600px;
}

.orders {
    &-container {
        display: flex;
        .yt-player {
            margin-right: 10px;
        }
        .orders-list {
            width: calc(100% - 640px);
        }
    }
}

.activeSong {
    background-color: #00c0fa !important;
    border: 1px solid #00c0fa !important;
    color: white;
    transition: all 0.5s;
    td {
        p,
        i {
            color: white !important;
        }
    }
}

.passedSong {
    background-color: #e6e6e6;
    transition: all 0.5s;
}