.nz-col {
    width: 75%;
}

nz-card {
    display: flex;
}

.image {
    width: 40px;
    height: 40px;
}

i {
    font-size: 25px;
}

:host::ng-deep {
    .ant-card-body {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 100% !important;
    }
}