.trigger {
    font-size: 30px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.sm-menu {
    display: none;
}

li {
    padding: 0px 10px;
    cursor: pointer;
    span {
        margin-left: 10px;
    }
}

ul {
    background: white;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(50 50 50 / 52%);
    display: none;
}

.activatedRoute {
    background: #00c0fa !important;
    color: white !important;
}

nz-sider {
    min-height: 100vh;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(50 50 50 / 52%);
}

nz-header {
    padding: 0;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(50 50 50 / 52%);
    z-index: 1;
}

nz-content {
    padding: 24px;
}

nz-footer {
    text-align: center;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(50 50 50 / 52%);
    color: #00c0fa;
}

::ng-deep .ant-layout-sider-collapsed {
    flex: 0 0 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
    width: 150px !important;
}