.ng-container-title {
    margin: 20px 0;
    text-align: center;
    font-size: 17px;
    color: #40a9ff;
}

::ng-deep {
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-header {
        display: none;
    }
}