ul {
    margin-top: 64px;
    li {
        padding: 15px 10px;
        cursor: pointer;
        span {
            margin-left: 10px;
            color: white !important;
        }
    }
}

.activatedRoute {
    background: #00c0fa !important;
    color: white !important;
}

.iconactivatedRoute {
    color: white !important;
}

::ng-deep {
    .ant-layout-sider-collapsed {
        flex: 0 0 0px !important;
        max-width: 0px !important;
        min-width: 0px !important;
        width: 0px !important;
        opacity: 0 !important;
        transition: .2s !important;
    }
}